* {
    box-sizing: border-box;
    margin: 0;
}
body {
    scroll-behavior: smooth;
    background-color: white;
    }
a {
    text-decoration: none;
    color: black;
}

#nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 0px 80px;
}

#nav > img {
    width: 250px;
    }
#nav > a {
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    color: black;
    margin-left: 900px;
}

.container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow: auto;
    transition: background-color 0.5s ease-out;
    background-color: white;
}
.bgcolor {
    background-color: #00c1b5;
}

.image {
    width: 420px;
    vertical-align: middle;
}
.Book {
    height: 100vh;
    max-width: 100%;
    text-align: center;
    padding: 30px;
    scroll-snap-align: center;
    transition: background-color 0.5s ease;
}


 
@keyframes ex {
    0% {background-color: white;}
    16.7% {background-color: #00c1b5;}
    33.4% {background-color: #ff651a;}
    50.1% {background-color: #ffbe00;}
    66.8% {background-color: #1d3fbb;}
    100% {background-color: #e30512;}
}

#book2 {
    background-color: #00c1b5;  
}
#book3 {
   background-color: #ff651a;
}
#book4 {
   background-color: #ffbe00; 
 
}
#book5 { 
   background-color: #1d3fbb;

    }
#book6 {
   background-color: #e30512;
   
}

@media screen and (max-width: 400px) {
    #nav > a {
        margin-left: 0px;
    }

    #nav > img {
        width: 90%;
        object-fit: contain;
    }

    .Book {
        max-width: fit-content;
    }

    .image {
        width: 100%;
    }
}